# build output
bin/
build/
.gradle/
out/
.classpath
.project
.settings/
pethotel_/bin/
pethotel_/build/
pethotel_/.classpath
pethotel_/.project
pethotel_/.settings/
/.apt_generated/
/.apt_generated_tests/
